* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.white {
  color: #fff;
}

.green {
  color: #35c66b;
}

.container {
  width: 1512px;
  margin: 0 auto;
}

body {
  background-color: #252525;
}

header,
main {
  padding: 0 50px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  gap: 100px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  &__header {
    color: #35c66b;
    font-size: 37px;
  }

  &__link {
    font-size: 19px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  &__header {
    font-size: 80px;
    width: 543px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 30px;
    width: 570px;
  }
  &__btn1 {
    width: 333px;
    height: 70px;
    color: #fff;
  }
}
