* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.white {
  color: #fff;
}

.green {
  color: #35c66b;
}

li {
  list-style: none;
}

.container {
  width: 1512px;
  margin: 0 auto;
}

@mixin blur($w, $h, $l, $t) {
  position: absolute;
  width: $w;
  height: $h;
  left: $l;
  top: $t;
  background-color: #35c66b;
  filter: blur(87.75px);
}

header,
main {
  padding: 0 50px;
}

body {
  background-color: #121517;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  gap: 100px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
  &__header {
    color: #35c66b;
    font-size: 37px;
  }

  &__link {
    font-size: 19px;
  }
}

.hero {
  display: flex;
  align-items: center;
  gap: 400px;
  color: #fff;
  position: relative;
  &__header {
    font-size: 80px;
    width: 543px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 30px;
    width: 570px;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__btn1 {
    width: 333px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    background: linear-gradient(45deg, #35c66b, #237249);
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  &__btn2 {
    width: 167px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    color: #fff;
    background-color: #121517;
    cursor: pointer;
  }
  &__users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 105px;
    & h2 {
      font-size: 62px;
    }
    & p {
      font-size: 20px;
    }
  }
}

.have {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 800px;
  height: 400px;
  border-radius: 35px;
  gap: 60px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 400px;
    text-align: center;
    gap: 15px;
    justify-content: end;
    padding-bottom: 50px;
  }
  &__item__header {
    font-size: 32px;
  }
}

.delicious {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 1280px;
  color: #fff;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 457px;
  }
  &__header {
    font-size: 80px;
  }
  &__description {
    line-height: 24px;
  }
}

.products {
  display: flex;
  flex-direction: column;
  width: 1440px;
  color: #fff;
  text-align: center;
  &__top {
    display: flex;
    gap: 50px;
  }
  &__header {
    font-size: 80px;
    width: 400px;
  }
  &__text {
    line-height: 163%;
    width: 454px;
    margin-top: 20px;
    font-size: 20px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 600px;
    width: 280px;
    border: 1.5px solid rgba($color: #dadada, $alpha: 0.6);
    border-radius: 50px;
    margin: 50px 0;
    padding: 10px;
  }
  &__item__big {
    font-size: 36px;
  }
  &__item__price {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
  }
  &__item__btn {
    width: 185px;
    height: 55px;
    background: linear-gradient(45deg, #35c66b, #237249);
    color: #fff;
    font-size: 16px;
    border-radius: 27.5px;
    border: none;
  }
  &__item:nth-child(3) {
    border-color: #35c66b;
  }
}

.events {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  &__top {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
  &__header {
    font-size: 80px;
    width: 360px;
  }
  &__text {
    width: 450px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  &__left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
  }
  &__header {
    font-size: 80px;
    line-height: 70px;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__contact1 {
    font-size: 32px;
  }
}

.blur1 {
  @include blur(80px, 80px, 70px, 150px);
}

.blur2 {
  @include blur(80px, 80px, 250px, 900px);
}

.blur3 {
  @include blur(80px, 80px, 60px, 1900px);
  z-index: -1;
}

.blur4 {
  @include blur(80px, 80px, 1200px, 1250px);
  z-index: -1;
}

.blur5 {
  @include blur(80px, 80px, 1300px, 600px);
  z-index: -1;
}

.blur6 {
  @include blur(80px, 80px, 1000px, 200px);
  background-color: #fff;
  z-index: -1;
}

.blur7 {
  @include blur(80px, 80px, 260px, 2200px);
  z-index: -1;
}

.blur8 {
  @include blur(80px, 80px, 1025px, 2520px);
  z-index: -1;
}

.blur9 {
  @include blur(80px, 80px, 725px, 3020px);
  z-index: -1;
}

.blur10 {
  @include blur(80px, 80px, 525px, 3620px);
  z-index: -1;
  background-color: #fff;
}
