* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.white {
  color: #fff;
}

.green {
  color: #35c66b;
}

li {
  list-style: none;
}

.container {
  width: 1512px;
  margin: 0 auto;
}

@mixin blur($w, $h, $l, $t) {
  position: absolute;
  width: $w;
  height: $h;
  left: $l;
  top: $t;

  background: linear-gradient(
    267.2deg,
    rgba(35, 114, 73, 0.55) 3.05%,
    rgba(53, 198, 107, 0.73) 40.73%
  );
  filter: blur(87.75px);
}

header,
main {
  padding: 0 50px;
}

body {
  background-color: #121517;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  gap: 100px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
  &__header {
    color: #35c66b;
    font-size: 37px;
  }

  &__link {
    font-size: 19px;
  }
}



.hero {
  display: flex;
  align-items: center;
  gap: 400px;
  color: #fff;
  position: relative;
  &__header {
    font-size: 80px;
    width: 543px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 30px;
    width: 570px;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__btn1 {
    width: 333px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    background: linear-gradient(45deg, #35c66b, #237249);
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  &__btn2 {
    width: 167px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    color: #fff;
    background-color: #121517;
    cursor: pointer;
  }
  &__users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 105px;
    & h2 {
      font-size: 62px;
    }
    & p {
      font-size: 20px;
    }
  }
  &__blur1 {
    @include blur(80px, 80px, 70px, 150px)
  }
}
